body{
    font-family: Arial, sans-serif;
}
header{
    font-family: Helvetica, arial, sans-serif;
}
/* buttons */
.btn-black{
    background-color: #363636;
    color: white;
    border-radius: 20px;
}
.btn-orange{
    background-color: #cd3d0f;
    color: white;
    border-radius: 20px;
    margin-top: 15px;
}
.btn-blue{
    background-color: #2d64e6;
    color: white;
    border-radius: 20px;
    margin-top: 25px;
}
.btn-gray{
    background-color: #d9dadc;
    color: #4071e5;
    border-radius: 20px;
    margin-top: 30px;
    font-weight: bold;
}
.btn-white{
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    font-weight: bold;
}

.header-logo{
    background-color: black;
    padding: 5px 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}
.header-logo img{
    width: 90px;
    float: right;
}
main{
    margin-top: 30px;
}
.menu-container-right {
    text-align: right;
    font-size: 12px;
    display: inline-block;
}
.menu-container-right li {
    display: inline-block;
    margin-left: 20px;
}
.menu-container-right a {
    text-decoration: none;
    font-size: 16px;
}
.lens{
    width: 25px;
}
.dropdown-toggle{
    color: black;
    font-weight: bold;
}
.burger {
    font-size: 25px;
    text-align: right;
}
.menu-container-left {
    font-size: 12px;
    display: inline-block;
}
.menu-container-left li {
    display: inline-block;
}
.menu-container-left a {
    text-decoration: none;
    font-size: 16px;
}
.menu-container-left li img{
    width: 55px;
}
.play{
    font-size: 25px;
}
/* jumbotron */
section{
    /* padding: 18% 0; */
    padding-top: 15%;
    padding-bottom: 10%;
}
.jumbotron {
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.jumbotron h2 {
    padding: 20px 0;
    font-size: 40px;
}
.jumbo-back-img{
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
}
.jumbo-img{
    width: 200px;
}
/* end jumbotron */
/* portfolio games */
.portfolio-games{
    margin-top: 40px;
}
.portfolio-games-content {
    margin-bottom: 20px;
}
.portfolio-games-content img{
    width: 100%;
    border-radius: 20px;
}
.portfolio-games-content img:hover{
    border: 2px solid #2888d6;
    border-radius: 20px;
    padding: 3px;
}
/* presentation ps5 */
.presentation-ps5{
    margin-bottom: 80px;
}
.title-ps5{
    text-align: center;
}
.title-ps5 h5{
    color: #0e7ad1;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 80px;
}
.title-ps5 h2{
    font-size: 45px;
}
.title-ps5 span{
    font-size: 20px;
    font-weight: bold;
    color: #8a8a8a;
    margin-bottom: 50px;
}
.introduction-ps5{
    padding-top: 200px;
}
.introduction-ps5 h2{
    font-size: 42px;
}
.introduction-ps5 span{
    font-size: 22px;
    font-weight: bold;
    color: #8a8a8a;
    margin-bottom: 50px;
}
.ps5-image img{
    width: 100%;
}
.portfolio-accessories{
    margin: 40px 0;
}
.portfolio-accessories-content{
    text-align: center;
}
.portfolio-accessories-content img{
    width: 150px;
}
.portfolio-accessories-content h5{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.portfolio-accessories-content:hover{
    border-bottom: 2px solid #2888d6;
    padding: 3px;
}
.secondo-jumbo-back-img{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
}
.news-back{
    background-color: #1f1f1f;
}
.title-news{
    color: white;
    padding-top: 25px;
}
.portfolio-new-games h5{
    color: white;
    padding-bottom: 25px;
}
.portfolio-new-games img{
    width: 100%;
    border-radius: 20px;
    /* padding: 0 5px; */
}
.portfolio-news{
    padding-top: 40px;
}
/* explore ps4 */
.title-ps4{
    text-align: center;
    padding-top: 70px;
    width: 40%;
    margin: auto;
}
.title-ps4 h2{
    font-size: 45px;
}
.title-ps4 span{
    font-size: 20px;
    font-weight: bold;
    color: #8a8a8a;
    margin-bottom: 50px;
}
.explore-ps4{
    margin-bottom: 80px;
}
.ps4-content{
    text-align: left;
    padding-top: 80px;
}
.ps4-content img{
    width: 90%;
}
.ps4-content h2{
    font-size: 22px;
}
.ps4-content span{
    font-size: 15px;
    font-weight: bold;
    color: #8a8a8a;
    margin-bottom: 50px;
}
.ps4-image img{
    width: 100%;
}
.ps-plus-back-color{
    background-color: #bebcbb;
}
.ps-plus-content img{
    width: 350px;
    padding-bottom: 30px;
}
.ps-plus-content{
    padding-top: 100px;
}
.ps-plus-content span{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
    .ps4-image {
        display: none;
    }
}

.title-ps-store{
    text-align: center;
    padding-top: 70px;
    width: 80%;
    margin: auto;
}
.title-ps-store h2{
    font-size: 45px;
}
.title-ps-store span{
    font-size: 20px;
    font-weight: bold;
    color: #8a8a8a;
    margin-bottom: 50px;
}
.ps-now-back-color{
    background-color: #161c3b;
}
.ps-now-content img{
    width: 350px;
    padding-bottom: 30px;
}
.ps-now-content{
    padding-top: 100px;
}
.ps-now-content span{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 50px;
    color: white;
}
.container-media{
    width: 50%;
    margin: auto;
}
.media-content{
    text-align: left;
    padding-top: 80px;
}
.media-content img{
    width: 100%;
}
.media-image img{
    width: 100%;
}
@media screen and (max-width: 576px) {
    .container-media {
        width: 90%;
        margin: auto;
    }
}
/* footer */
footer{
    background-color: #00439c;
}
.ps-footer{
    width: 110px;
    color: white;
    padding-top: 80px;
    padding-bottom: 40px;
}
.footer-left h5{
    color: white;
    font-size: 16px;
    padding-bottom: 40px;
}
.footer-left p{
    color: white;
    font-size: 16px;
    padding-bottom: 100px;
}
.sie{
    width: 130px;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
.link-foot{
    text-align: right;
    padding-top: 80px;
    line-height: 32px;
}
.link-foot a{
    text-decoration: none;
    color: white;
}