.header-logo{
    background-color: black;
    padding: 5px 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}
.header-logo img{
    width: 90px;
    float: right;
}
main{
    margin-top: 30px;
}
.menu-container {
    text-align: right;
    font-size: 12px;
    display: inline-block;
}
.menu-container li {
    display: inline-block;
    margin-left: 20px;
}
.menu-container a {
    text-decoration: none;
    font-size: 16px;
}
.menu-container li img{
    width: 25px;
}
.btn-black{
    background-color: #363636;
    color: white;
    border-radius: 20px;
}
.dropdown-toggle{
    color: black;
}
.burger {
    font-size: 25px;
    text-align: right;
}