body{
    font-family: Arial, sans-serif;
}
header{
    font-family: Helvetica, arial, sans-serif;
}
.header-logo{
    background-color: black;
    padding: 5px 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}
.header-logo img{
    width: 90px;
    float: right;
}
main{
    margin-top: 30px;
}
.menu-container-right {
    text-align: right;
    font-size: 12px;
    display: inline-block;
}
.menu-container-right li {
    display: inline-block;
    margin-left: 20px;
}
.menu-container-right a {
    text-decoration: none;
    font-size: 16px;
}
.lens{
    width: 25px;
}
.btn-black{
    background-color: #363636;
    color: white;
    border-radius: 20px;
}
.dropdown-toggle{
    color: black;
    font-weight: bold;
}
.burger {
    font-size: 25px;
    text-align: right;
}
.menu-container-left {
    font-size: 12px;
    display: inline-block;
}
.menu-container-left li {
    display: inline-block;
}
.menu-container-left a {
    text-decoration: none;
    font-size: 16px;
}
.menu-container-left li img{
    width: 55px;
}
.play{
    font-size: 25px;
}
/* jumbotron */
section{
    /* padding: 18% 0; */
    padding-top: 15%;
    padding-bottom: 10%;
}
.jumbotron {
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.jumbotron h2 {
    padding: 20px 0;
    font-size: 40px;
}
.jumbo-back-img{
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
}
.jumbo-img{
    width: 200px;
}
.btn-orange{
    background-color: #cd3d0f;
    color: white;
    border-radius: 20px;
    margin-top: 15px;
}
@media screen and (max-width: 576px) {
    .jumbo-back-img{
        height: 400px;
    }
}